CREATE TABLE Young_Customers
(
    CustomerId      number(8),
    Surname         varchar2(17),
    CreditScore     number(3),
    Gender          varchar2(6),
    Age             number(2),
    Tenure          number(2),
    NumOfProducts   number(1),
    HasCrCard       number(1),
    EstimatedSalary number(9),
    Exited          number(1)
);
